a.nav-link {
    font-weight: 700;
    color: #686868 !important;
}

.me-auto.navbar-nav a {
    color: #7c7c7c;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}
/* Logo styles */
span.p {
    color: #f9bc43;
    FONT-WEIGHT: 800;
}

a.navbar-brand {
    font-size: 40px;
    font-weight: 600;
}